extends ../../../layouts/default.pug
block main
    .content 
        .cat-left
            img(src="/images/cat.jpg", alt="left")
        h1 Đây là trang chủ
        .cat-right
            img(src="/images/cat.jpg", alt="right")